/nbproject/
/thinkphp/
/vendor/
/runtime/*
/addons/*
/public/assets/addons/*
# 官网 uploads 素材必须入库；压缩备份不提交
*.bak-orig
.idea
composer.lock
*.log
*.css.map
!.gitkeep
.env
.svn
.vscode
node_modules
.user.ini
