/nbproject/
/thinkphp/
/vendor/
/runtime/*
/addons/*
/public/assets/addons/*
/public/uploads/*
!/public/uploads/20251107/
!/public/uploads/20251107/efe21b50abc626e20e8526f8f22850df.mp4
.idea
composer.lock
*.log
*.css.map
!.gitkeep
.env
.svn
.vscode
node_modules
.user.ini
