@font-face {
  font-family: "LinHai";
  src: url("./linhai.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

/* 系统名 PingFang SC + 项目内嵌 PingFangSC-Regular */
@font-face {
  font-family: "PingFang SC";
  src: url("./PingFangSC-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "PingFangSC-Regular";
  src: url("./PingFangSC-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

